:root {
    --primary-text: #c8c8c8;
    --background-primary: #2f4f4f;
    --background-secondary: #1f3434;
    --secondary-dark: #303030;
    --secondary-light: #444444;
}

::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-text);
    border-radius: 10px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-primary);
    color: var(--primary-text);
}

header {
    border-bottom: 1px solid var(--primary-text);
}

.dropdown {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: var(--secondary-dark);
    color: var(--primary-text);
    border-radius: 5px;
    width: 150px;
    height: 35px;
}

/* .dropdown select {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: var(--secondary-dark);
    color: var(--primary-text);
    border-radius: 5px;
} */

.dropdown:disabled {
    cursor: not-allowed;
}

.input {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: var(--secondary-dark);
    color: var(--primary-text);
    border-radius: 5px;
}

.join {
    padding: 8px;
}

.button-container {
    display: flex;
    gap: 8px;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    color: var(--primary-text);
    padding: 8px;
}

.button:hover {
    background-color: var(--secondary-light);
    cursor: pointer;
}

.button:disabled {
    background-color: var(--secondary-dark);
    opacity: 0.7;
}

.button:disabled:hover {
    background-color: var(--secondary-dark);
    cursor: not-allowed;
}

.hand {
    padding: 16px;
    font-size: x-large;
    height: 70px;
    width: 65px;
}

/* .forfeit {
    margin-top: 16px;
    padding: 8px;
} */
